
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/aws/5.44.0/windows_amd64/terraform-provider-aws_v5.44.0_x5.exe
terraform.tfstate.backup
terraform.tfstate
plan
api/package-lock.json
/api/node_modules
/api/dist
.env
/.terraform
.terraform
.terraform.tfstate.lock.info
.vscode
